<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom px-3">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" >Poezije.si</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ms-auto">
        <a *ngIf="isLoggedIn" class="nav-link px-3" routerLink="/home" routerLinkActive="active" >Domov</a>
         <a *ngIf="isLoggedIn" class="nav-link px-3" routerLink="/add" routerLinkActive="active" >Dodaj</a>
        <a *ngIf="!isLoggedIn" class="nav-link px-3" routerLink="/login" routerLinkActive="active" >Prijava</a>
        <a *ngIf="!isLoggedIn" class="nav-link px-3" routerLink="/signup" routerLinkActive="active" >Registracija</a>
        <a *ngIf="isLoggedIn" (click)="onLogout()" class="nav-link px-3" routerLink="/signup" routerLinkActive="active"><span class="red">Odjava</span></a>
      </div>
    </div>
  </div>
</nav>
