.navbar {
    background-color: #f8f9fa !important; /* Nežna siva */
}

.navbar-brand, .nav-link {
    color: #000000 !important; /* Črne črke */
}

.nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #000;
}
