html, body {
  height: 100%;
  margin: 0;

  overflow-y: scroll;
  scrollbar-gutter: stable;
}




.app-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow-y: auto;
}
