.bg-light-blue {
  background-color: #f0f7ff;
}

.card {
  transition: transform 0.2s;
  margin: 10 px auto;
}
.card-text {
  max-height: 300px;
  overflow-y: auto;
}

.card:hover {
  transform: translateY(-5px);
}

.italic {
  font-style: italic;
  white-space: pre-wrap; /* Ohrani presledke in nove vrstice iz baze */
}

/* razred, ki obarva poezije trenutnega uporabnika z ng class */
.curr-poet {
    background-color: #f0f0f0 !important;
    border: 1px solid #ccc;
}

